<p-dataView #dv [value]="movies" [paginator]="true" [rows]="2" paginatorPosition="both" filterBy="title"
  [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" placeholder="Sort By" (onChange)="onSortChange($event)"
            [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by name" (input)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-movie pTemplate="listItem">
    <div class="ui-g-12">
      <div class="movie-details">
        <div>
          <img src="{{movie.Poster}}" class="float-left" (click)="navigateToMovieinfo($event, movie)">
          <div class="ui-g float-left">
            <div class="ui-g-12">Name: <b>{{movie.title}}</b></div>
            <div class="ui-g-12">Year: <b>{{movie.year}}</b></div>
            <div class="ui-g-12">Released: <b>{{movie.Released}}</b></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-movie pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="movie.title" [style]="{'text-align':'center'}">
        <img src="{{movie.Poster}}" width="60" (click)="navigateToMovieinfo($event, movie)">
        <div class="movie-detail"> {{movie.Released}}</div>
        <hr class="ui-widget-content" style="border-top:0">
      </p-panel>
    </div>
  </ng-template>
</p-dataView>