<p-dataView #dv [value]="movies" [paginator]="true" [rows]="2" paginatorPosition="both" filterBy="brand"
  [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
            (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by name" (input)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-car pTemplate="listItem">
    <div class="ui-g-12">
      <div class="car-details">
        <div>
          <img src="{{car.Poster}}">
          <div class="ui-g">
            <div class="ui-g-12">Name: <b>{{car.title}}</b></div>
            <div class="ui-g-12">Year: <b>{{car.year}}</b></div>
            <div class="ui-g-12">Released: <b>{{car.Released}}</b></div>
          </div>
        </div>
        <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, car)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-car pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
        <img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60">
        <div class="car-detail">{{car.year}} - {{car.color}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, car)"
          style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>